cifar/cifar10/
cifar/cifar100/
cifar/cifar*/
notebooks/alexnet/cifar10_alexnet_model/model*
notebooks/alexnet/cifar100_alexnet_model/model*
notebooks/vgg/cifar10_vgg_model/model*
notebooks/vgg/cifar100_vgg_model/model*
notebooks/vgg_deeper/cifar10_vgg_model/model*
notebooks/vgg_dropout/cifar10_vgg_model/model*
notebooks/vgg_allconvnet/cifar10_vgg_model/model*
notebooks/vgg_dropout_bn/cifar10_vgg_model/model*
notebooks/vgg_elu/cifar10_vgg_model/model*
notebooks/alexnet_deeper/cifar10_vgg_model/model*
notebooks/resnet/cifar10_resnet_model/model*





